<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Track Your Bills:<br></h2>
        <p class="lead">Now you can track your bills down to the current pay period to help form a reliable budget...and see what you have left over..</p>
        <a ui-sref="register" class="btn btn-default btn-lg"><i class="fa-fw"></i> <span class="network-name">Register Now</span></a>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="images/Idiocracy_Money.jpg" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Add, Remove, Export All Your Bills</h2>
        <p class="lead">Manage your bills fast... zero to hundred, real quick</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="images/MAIN-Drake.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Contact Me on Twitter:</h2>
      </div>
      <div class="col-lg-1">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/parker_t23" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
