/* app css stylesheet */
.hoverwell:hover {
  background-color: #52575c;
  cursor: pointer;
}
select, textarea {
  color: #52575c;
}

.well-title {
  margin-top: 0px;
}
.session {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.votingWidget {
  height: 64px;
  padding: 7px;
}

.votingButton {
  padding-left:6px;
  cursor:pointer;
}

.sessionThumbnail {
  height:100%;
  overflow: hidden;
}


.calendar{
  border: 1px solid #555;
  width: 238px;
}
.calendar .row {
  margin-left: 0px;
}
.calendar .row div{
  float:left;
  padding:2px;
  width:30px;
  text-align:center;
}
.calendar-nav-left {
  float:left;
  width: 20px;
  padding:2px;
}
.calendar-nav-right {
  float:left;
  width: 20px;
  padding:2px;
  text-align:right;
}

.calendar .row .calendar-hdr {
  padding:2px;
  float:left;
  width: 166px;
  text-align:center;
}
.pointer {
  cursor: pointer;
}
.date-picker {
  position: absolute;
  top: -7px;
  left: 209px;
  background-color: #272b30;
}

.blue {
  color:blue;
}

/* 2nd part  */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*html body {
   background-color: rgba(0,0,0,1.00);

 }*/
.well {
  background-color: rgba(0,0,0,1.00);
  color:white;
}

html h2 {
  color:black;
}
.btn-primary {
//.buttonBackground(@btnBackground, @btnBackgroundHighlight, @grayDark, 0 1px 1px rgba(255,255,255,.75));
.buttonBackground(red, white);
}
